<%- include('partials/head') %>
<h1>Affiche un Animal</h1>
<img src="/pictures/<%= animal.image %>" width="250px" height="200px" />
<h3><%= animal.nom %></h3>
<p><%= animal.description %></p>
<p><%= animal.nom_latin %></p>
<p><%= animal.espece %></p>
<%- include('partials/footer') %>
